@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  background-color: rgb(255, 219, 166);
  font-family: 'Josefin Sans', sans-serif;

}

.App {
  text-align: center;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 50px;
  margin-top: 20px;
}

.deconstructed {
  position: relative;
  margin: auto;
  height: 0.9em;
  color: transparent;
  font-size: 10vw;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.03em;
  
}

.deconstructed > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #c29df9;
  text-shadow: 2.5px 2.5px black;
  pointer-events: none;
}

.deconstructed > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
  mask-image: linear-gradient(black 25%, transparent 25%);
  animation: deconstructed1 7s infinite;
}

.deconstructed > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  animation: deconstructed2 7s infinite;
}

.deconstructed > div:nth-child(3) {
   -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  animation: deconstructed3 7s infinite;
}

.deconstructed > div:nth-child(4) {
   -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
  animation: deconstructed4 7s infinite;
}

@keyframes deconstructed1 {
  0% {
    transform: translateX(100%);
  }
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(-0.1%);
  }
  100% {
    transform: translateX(-120%);
  }
}

@keyframes deconstructed2 {
  0% {
    transform: translateX(100%);
  }
  24% {
    transform: translateX(0.5%);
  }
  82% {
    transform: translateX(-0.2%);
  }
  100% {
    transform: translateX(-125%);
  }
}

@keyframes deconstructed3 {
  0% {
    transform: translateX(100%);
  }
  22% {
    transform: translateX(0%);
  }
  81% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-130%);
  }
}

@keyframes deconstructed4 {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-135%);
  }
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 70vw;
  height: 70vh;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 2s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 2s;
  transform: scale(1.08);
}

.head-img{
  width: 75px;
  height: auto;
  border-radius: 50%;
  
}

.about {
  margin-left: 5vw;
  margin-right: 5vw;
}

.download-resume{
  margin-top: 50px;
}

.download-btn{
  width: 250px;
  height: auto;
  box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7);
  border-radius: 50%;    
  transition: transform 1.5s ease-in-out; 
}

.download-btn:hover{
  transform: scale(1.2);
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
  transform: rotate(360deg);
}

@media only screen and (max-width: 400px) {
  .image {
    width: 90vw;
    height: auto;
    margin-top: -160px;
  }
  .right-arrow{
    font-size: 1.5rem;
  }
  .left-arrow{
    font-size: 1.5rem;
  }
  .download-resume{
    margin-top: 0px;
  }
}